.project
.pydevproject
*~
*.db
*.orig
*.DS_Store
.coverage
*.pyc
*.pyo
.*.swp
.venv
.idea
*/settings/local.py
local.py
secrets.sls
apache-solr-*/
output.json
htmlcov
coverage.sh
aoc/data/
build
backups
iticket/local.py
public/*
.env
.vscode
*.log
